includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 6
    tmpDir: storage/framework/phpstan
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    parallel:
        maximumNumberOfProcesses: 1
        processTimeout: 300.0
