includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 1
    reportUnmatchedIgnoredErrors: false
    tmpDir: storage/framework/phpstan
    parallel:
        maximumNumberOfProcesses: 1
        processTimeout: 300.0
    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Call to an undefined method#'
        - '#Relation .* is not found#'
        - '#contains unresolvable type#'
        - '#expects callable#'
        - '#Unsafe call to private method#'
        - '#Class App\\Models\\Employee not found#'
        - '#always exists and is not nullable#'
        - '#always evaluate to false#'
        - '#always evaluate to true#'
        - '#in empty\(\) always exists#'

