includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 6
    memoryLimit: 2G
    tmpDir: storage/framework/phpstan
    parallel:
        maximumNumberOfProcesses: 1
        processTimeout: 300.0
